.myEntListWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 60%;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #f6f6f6;
  margin-top: 50px;
}

.myEntListItem {
  width: 90%;
}

.myEntListItemTitle {
  font-size: 18px;
  margin: 5px 0;
  color: #333;
  text-align: center;
}

/* If you'd like to display the images, add some additional styles */
.myEntListItem img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 5px;
}

.myEntListItemContainer {
  border: 1px solid black;
  width: 600px;
}

.myEntListItemTitleWrap {
  display: flex;
}
