.myEntListWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* width: 50%; */
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #f6f6f6;
  /* 가입된 엔터목록 상자 옮기려고  */
  /* margin-top: 50px; */
  padding-bottom: 50px;
  margin-left: 200px;
}

.myEntListItem {
  width: 90%;
  list-style-type: none;
  border-bottom: 1px solid darkgray;
  padding-bottom: 10px;
  padding-top: 10px;
}

.myEntListItemTitle {
  font-size: 18px;
  margin: 5px 0;
  color: #333;
  text-align: center;
}

/* If you'd like to display the images, add some additional styles */
.myEntListItem img {
  max-width: 100%;
  width: 70px;
  border-radius: 5px;
  margin: 5px;
}

.myEntListItemContainer {
  width: 600px;
  padding: 30px;
}

.myEntListItemTitleWrap {
  display: flex;
}

.myEntListItemTitleWrap :first-child {
  margin-right: 15px;
}

.myEntListContainer {
  height: 100vh;
}
