.entPjtMemberInviteContainer {
  padding: 30px;
  background-color: white;
  box-shadow: 1px 1px 30px 10px #dfe2e4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.AlreadyMemberList,
.PossibleInviteMemberList {
  display: grid;
  grid-gap: 15px;
}

.AlreadyMemberList {
  border-bottom: 1px solid black;
  padding-bottom: 30px;
}

.AlreadyMemberListGrid,
.PossibleInviteMemberListGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

.PossibleInviteMemberListGrid,
.inviteMemberLi {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}
.inviteMemberLi {
  list-style: none; /* 목록 항목에 나오는 검은점을 없애기 위한 스타일 */
}

.inviteMemberBtn {
  width: 80px;
  height: 30px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* .inviteMemberBtn:hover {
  background-color: #45a049;
} */

.AlreadyMemberList li {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  list-style: none; /* 목록 항목에 나오는 검은점을 없애기 위한 스타일 */
}
