.pjtMainWrap {
  background-color: white;
  padding: 30px;
  min-width: 823px;
}
.pjtMainHeader {
  display: flex;
}

.pjtMainHeader img {
  width: 250px;
  height: 250px;
}
.pjtMainHeaderRight {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.isRecruitedTitle {
  font-size: 25px;
}
.singName {
  font-size: 80px;
}
.pjtMainHeaderRight_btm {
}
.pjtMainHeaderRight_btm:first-child {
  font-size: 80px;
}
