@font-face {
  font-family: "SuperDonuts";
  src: url("../assets/font/SuperDonuts.ttf");
}

body {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  margin: 0;
  font-family: "SuperDonuts";
}
