.left-side {
  width: 270px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--border-color);
  overflow: auto;
  flex-shrink: 0;
}

@media (max-width: 750px) {
  .left-side {
    display: none;
  }
}

.side-wrapper:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}

.side-menu {
  padding: 20px;
}
.side-title {
  border-bottom: 1px solid black;
  padding-top: 20px;
}
.side-menu a {
  text-decoration: none;
  font-weight: 500;
  color: var(--main-color);
  display: flex;
  align-items: center;
  font-size: 15px;
  white-space: nowrap;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.side-title {
  padding: 0 0 20px;
  font-size: 15px;
}

.side-title2 {
  padding-top: 20px;
}

.side-title3 {
  padding-top: 20px;
}

.menuLink span,
.side-title3 a span {
  font-size: 30px;
  color: black;
  font-weight: bold;
}

.entNavBtn {
  background-color: transparent;
  border: none;
  color: var(--body-color);
  cursor: pointer;
}
