@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

/* * {
  font-weight: 600;
} */

header {
  width: 100%;
  display: flex;
  background-color: transparent;
  justify-content: center; /* 수평 가운데 정렬 */
  margin-top: 10px;
  margin-bottom: 50px;
}

header img {
  height: 50px;
}

.header_right {
  display: flex;
  align-items: center;
}

.headerA {
  font-size: 20px;
  text-decoration: none;
  color: black;
  margin-left: 20px;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
}
